<div class="ui container">
  <h2 class="ui center aligned header">
      Users Index 
      <i class="ui envelope open outline icon"></i>
  </h2>
</div>
<br>
<div class="centered aligned">
<% @users.each do |user|%>
  <div class="ui raised segment">
    <div class="content">
    <%= link_to user_path(user) do %>
      <div class="header"><%=user.name%> <%=user.lastname%></div>
    <%end%>
      <small style="color: grey"><%=user.email%></small>
    </div>
  </div>
<%end%>
<%= render 'shared/columns'%>
</div>

