<div class="ui container">
  <h2 class="ui center aligned header">
    User Profile
    <i class="ui user outline icon"></i>
  </h2>
</div>
<br>
<div class="centered aligned">
  <% @user.posts.each do |post| %>
    <div class="ui raised segments">
      <div class="ui segment">
        <div class="ui horizontal list">
          <div class="item">
            <%= image_tag('profile.jpg', class: "ui avatar image") %>
            <div class="content">
              <%= link_to user_path(post.author) do %>
                <div class="ui sub header"><%= "#{post.author.name} #{post.author.lastname}" %></div>
              <% end %>
              <small style="color: grey"><%= time_ago_in_words(post.created_at, include_seconds: true).gsub('about', '') %></small>
            </div>
          </div>
        </div>
      </div>
      <div class="ui segment">
        <div class="content">
          <%= post.content %>
        </div>
      </div>
      <div class="ui segment card">
        <div class="content">
          <span class="left floated">
            <%= render 'shared/check_likes', locals: {post: post, from: 'index'} %>

            <small class="meta"> <%= "  #{post.likes.count} likes" %></small>
          </span>
          <span class="right floated">
            <i class="comment teal outline icon"></i>
            <small class="meta right floated"><%= post.comments.count %> comments</small>
          </span>
        </div>
        <%= link_to post_path(post) do %>
          <div class="ui bottom attached button">
            <i class="envelope outline icon"></i>
            Open
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

<%# separador %>
  <% content_for :left_side do %>
    <div class="ui card">
      <div class="image">
        <%= image_tag('profile.jpg') %>
      </div>
      <div class="content">
        <div class="header"><%= @name %></div>
        <div class="meta">
          <a><%= @email %></a>
        </div>
        <div class="description">
          Needs to fullfill
        </div>
      </div>
      <div class="extra content">
      <span class="right floated">
        Joined in <%= @joined_at %>
      </span>
        <span>
        <i class="user icon"></i>
          <%= @num_friends %> Friends
      </span>
      </div>
    </div>
  <% end %>
</div>

