<div class="ui container">
  <h2 class="ui center aligned header">
    User Profile
    <i class="ui user outline icon"></i>
  </h2>
</div>
<div class="centered aligned">
  <% if current_user.friends.include?(@user) || current_user == @user %>

      <%= render "shared/postform", locals: { object: @user } %>
    <% Post.mine_and_friends(@user).each do |post| %>
      <%= render 'shared/display_post', locals: {object: post, from: 'user', user: @user} %>
    <% end %>
  <% end %>

  <% content_for :left_side do %>
    <div class="ui card">
      <div class="image">
        <% if @user.image.nil? %>
          <%= image_tag('profile.jpg', alt: "profile-image") %>
        <% else %>
          <%= image_tag(@user.image, alt: "profile-image") %>
        <% end %>
      </div>
      <div class="content">
        <div class="header"><%= "#{@user.name} #{@user.lastname}" %></div>
        <div class="meta">
          <a><%= @user.email %></a>
        </div>
        <div class="description">
          Needs to fullfill
        </div>
      </div>
      <div class="extra content">
      <span class="right floated">
        Joined in <%= @user.created_at.year %>
      </span>
        <span>
        <i class="user icon"></i>
          <%= @user.friendships.confirmed.count %> Friends
      </span>
      </div>
      <% if @is_pending %>
        <div class="extra content">
          <div class="right floated">
            <p class="meta">Friend request sent</p>
          </div>
        </div>
      <% elsif @is_incoming %>
        <div class="extra content">
          <div class="right floated">
            <p class="meta"><%= @user.name %> sent you a friend request</p>
          </div>
        </div>
      <% elsif @same_profile || @already_friends %>
        <div></div>
      <% else %>
        <%= link_to friendships_create_path(friend_id: @user) do %>
          <div class="ui bottom attached button">
            <i class="add icon"></i>
            Add Friend
          </div>
        <% end %>
      <% end %>
    </div>
    <br>
    <% if !@user.friends.empty? %>
      <div class="ui card">
        <div class="ui middle aligned selection divided list">
          <% @user.friends.each do |friend| %>
            <%= link_to user_path(friend.id), class: "item" do %>
              <% if friend.image.nil? %>
                <%= image_tag('profile.jpg', class: "ui avatar image", alt: "profile-image") %>
              <% else %>
                <%= image_tag(friend.image, class: "ui avatar image", alt: "profile-image") %>
              <% end %>
              <div class="content">
                <div class="ui header floated right"><%= friend.name %></div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <% content_for :right_side do %>
    <div class="ui card">
      <div class="content">
        <%= link_to user_path(current_user) do %>
          <h3 class="ui header" style="
          margin-top: 0px">
            <i class="bell outline icon floated right"></i>
            <div class="content">Welcome <%= current_user.name %>!</div>
          </h3>
        <% end %>
        <br>
        <div class="comments">
          <i class="comment icon"></i>
          <strong>Recents comments on your posts:</strong>
          <br>
          <br>
          <% if current_user.posts.empty? %>
            <div class="ui center aligned">No recent comments</div>
          <% else %>
            <% current_user.posts.last_five_posts.each do |post| %>
              <% unless post.comments.size.zero? %>
                <%= link_to post_path(post) do %>
                  <div><%= post.comments.last.content %></div>
                  <div class="ui fitted divider"></div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <br>
        <% unless @pending_requests.empty? %>
          <div class="friend_requests">
            <i class="user icon"></i>
            <strong>Friends requests: </strong><%= @pending_requests.count %>
            <br>
            <br>
            <% @pending_requests.each do |friend_req| %>
              <div class="ui equal width form">
                <div class="ui equal width form">
                  <div class="fields">
                    <div class="field"><%= friend_req.user.name %> <%= friend_req.user.lastname %></div>
                    <div class="field">
                      <button class="mini positive ui button field" id="accept_friendship">
                        <%= link_to 'Accept', update_status_path(friend_request: friend_req), method: :post %>
                      </button>
                    </div>
                    <div class="field">
                      <button class="mini negative ui button field" id="decline_friendship">
                        <%= link_to 'Decline', friendship_path(id: friend_req, friend_id: friend_req.user), method: :delete %>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="ui fitted divider"></div>
                <br>
            <% end %>
            </div>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

