<!DOCTYPE html>
<html>
  <head>
    <title>Fakebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="ui teal inverted small menu attached">
      <div class="ui container">
        <%= render 'shared/navigation'%>
      </div>
    </div>
    <div class="ui">
      <% if notice %>
        <div class="ui positive message attached">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="ui negative message attached">
          <%= alert %>
        </div>
      <% end %>
    </div>
    <%# <div class="ui container"> %>
      <%= yield %>
    <%# </div> %>
  </body>
</html>
