<!DOCTYPE html>
<html>
  <head>
    <title>FacebookApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui purple inverted small menu attached">
      <div class="ui container">
        <%= render 'shared/navigation'%>
      </div>
    </div>
    <div class="ui container">
      <% if notice %>
        <div class="ui positive message">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="ui negative message">
          <%= alert %>
        </div>
      <% end %>
    </div>
    <br>
    <div class="ui container">
      <%= yield %>
    </div>
  </body>
</html>
